// Write your styles here
@mixin touch-block($floating){
  float: $floating;
  color: map-get($colors, text);
}
%select{
  background-color: map-get($colors,special);
  color: map-get($colors,second-text);
}
body{
  background: map-get($colors,background);
  font-family: 'Source Sans Pro', sans-serif;
}
main{
  width: $width;
  margin: 0 auto;
}
button{
  @include touch-block(left);
  display: block;
  width:100px;
  height:40px;
  background: map-get($colors,button);
  font-weight:bold;
  border-width:0;
  border-radius: 3px;
}
.header{
  background-image: $header-background-image;
  padding: 1em 2em 2em 2em;
  border-radius: 0 0 450px/225px 0;

  color: map-get($colors,second-text);
  div {
    p.header_heading{
      width:400px;
      font-size: 56px;
      font-weight: bold;
      margin-bottom:36px;
      margin-top:36px;
    }
    p.header_heading{
      width:400px;
      font-size: 56px;
      font-weight: bold;
    }
    p.header_heading::selection{
      @extend %select;
    }
    p.header_text{
      width:650px;
      position:relative;
      white-space: pre-line;
      line-height: 25px;
      margin-bottom:60px;
    }
  }
  p.header_text + div{
    width:400px;
    position:relative;
    margin-bottom:200px;

    a{
      @include touch-block(right);
      margin-top: 5px;
    }
  }
}
.landing-logo{
  position:relative;
  display: flex;
  flex-direction: row;
  width:165px;
  height:48px;
  img{
    display:flex;
    flex:0.5;
    width:50px;
    max-width:48px;
    max-height:48px;
  }
  p{
    margin-left:5px;
    display:flex;
    flex-direction:column;
    flex:0.5;
    width:100px;
    font-size:22px;
    font-weight: bold;
    word-wrap: break-word;
    justify-content:center;
    text-align:center;
    color: map-get($colors,second-text);
    span:before{
      content: "
        ";
    }
    span{
      flex:0.5;
      font-size:12px;
    }
  }
}
.section{
  position: relative;
  padding: 16px;
  .section_text{
    text-align:center;
    font-size: 24px;
    font-weight:bold;
    color: map-get($colors, second-text);
  }
  .section_text::selection{
    @extend %select;
  }
  .section_card{
    background-color: map-get($colors,card);
    margin: 15px;
    padding: 15px;
    display: flex;
    height: 225px;
    justify-content: space-between;
    color: map-get($colors,text);
    img{
      display: flex;
      border-radius: 4px;
      flex: 0.35;
      max-width: 350px;
    }
    div{
      display: flex;
      flex-direction: column;
      padding-top:15px;
      flex: 0.65;
      .section_card_heading{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
      }
      .section_card_text{
        font-size: 16px;
        word-spacing: 1px;
        padding-left: 70px;
        padding-right: 60px;
      }
      .section_link {
        margin-top:10px;
        text-align: center;
        color: map-get($colors,text);
      }
    }
  }
}
.section_banner{
  background: map-get($colors,block-gradient);
  padding: 10px 80px 10px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .section_banner_text_wrap {
    .section_banner_heading {
      font-size: 20px;
      color: map-get($colors, second-text);
      word-spacing: 4px;
      font-weight: bold;
    }
    .section_banner_heading::selection{
      @extend %select;
    }
    .section_banner_text {
      font-size: 16px;
      color: map-get($colors, text);
    }
  }
}
footer{
  height: 150px;
  background-color: map-get($colors, card);
  align-items: center;
  position: relative;
  color: map-get($colors,text);
  padding: 1em 4em 2em 4em;
  .footer-wrap{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div{
      display: flex;
      flex: 0.3;
    }
    p{
      display: flex;
      word-spacing: 2px;
      flex:0.3;
    }
    span.footer_cr{
      flex:0.3;
      display: flex;
      text-align:right;
    }
  }
}
