$width: 960px;
$header-background-image: url("../img/m-h-night.jpg");
$colors:(
        background:#21232e,
        button: #e3ac00,
        card: #3b3f50,
        block-gradient: linear-gradient(90deg, rgba(217,155,11,1) 20%, rgba(151,51,79,1) 79%),
        text: white,
        second-text:white,
        special: #ff4e33
);